# Place core python packages used in the project here. Only add the main module you're
# using, not its dependencies, let the package manager handle installing the modules
# dependencies.

iceoryx2==0.8.1  # Inter-process communication
pybullet         # Simulator / Visualization
sympy            # Symbolic math scripting
moteus-gui       # Motor controller configuration
xacro            # URDF generation